#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

#navbar li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    display: block;
}

#navbar li {
    list-style: none;
    font-size: 20px;
    border-bottom: 1px solid black;
    line-height: 55px;
    padding-left: 20px;
}

#navbar ul {
    padding: 0px;
    margin-top: 70px;
}

#navbar {
    overflow: scroll;
}

#navbar header {
    position: fixed;
    margin: 0px;
    padding: 15px 30px 15px 30px;
    background: white;
    margin-top: 5px;
    border-bottom: 1px solid black;
}

header {
    color: black;
    margin: 10px;
    text-align: left;
    font-size: 1.8em;
    font-weight: thin;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .navbar {
        overflow: auto;
        font-family: Arial, Helvetica, sans-serif;
    }
    .navbar a {
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .dropdown {
        overflow: hidden;
    }
    .dropdown .dropbtn {
        cursor: pointer;
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }
    .navbar a:hover,
    .dropdown:hover .dropbtn,
    .dropbtn:focus {
        background-color: red;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    .dropdown-content a:hover {
        background-color: #ddd;
    }
    .show {
        display: block;
    }
    #main-doc {
        margin-left: 0px;
        margin-top: 270px;
    }
    button {
        position: absolute;
        left: 50%;
        top: 7%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 10px;
        border: 1px solid black;
        border-radius: 25px;
    }
    #navbar {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }
    #navbar ul {
        width: 100%;
        margin-top: 150px;
        padding: 5px;
    }
    #navbar ul li a {
        text-align: center;
        display: inline;
        padding: 10px;
    }
    #navbar header {
        position: absolute;
        top: 2%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }
    #navbar li {
        display: inline;
        border-bottom: 0px solid black;
        padding: 0px;
    }
}